<form
  novalidate
  [formGroup]="characterEquipmentForm"
  (submit)="submitForm($event)"
>
  <app-input
    [name]="'Armor Class'"
    [type]="'number'"
    [controlName]="'armor_class'"
    [placeholder]="'0'"
    [group]="characterEquipmentForm"
  ></app-input>

  <app-select
    [name]="'Weapon Proficiencies'"
    [controlName]="'weapon_proficiencies'"
    [group]="characterEquipmentForm"
    [options]="[
      { label: 'Simple', value: 'simple' },
      { label: 'Martial', value: 'martial' }
    ]"
  >
  </app-select>

  <app-input
    [name]="'Wealth'"
    [type]="'number'"
    [controlName]="'wealth'"
    [placeholder]="'0'"
    [group]="characterEquipmentForm"
  ></app-input>

  <app-button
    [type]="buttonType"
    [text]="buttonText"
    [disabled]="isDisabled | async"
  ></app-button>
</form>
