<form [formGroup]="signupForm" novalidate (submit)="signup($event)">
  <app-input
    [name]="'name'"
    [type]="'text'"
    [controlName]="'name'"
    [group]="signupForm"
  ></app-input>
  <app-input
    [name]="'email'"
    [type]="'email'"
    [controlName]="'email'"
    [group]="signupForm"
  ></app-input>
  <app-input
    [name]="'password'"
    [type]="'password'"
    [controlName]="'password'"
    [group]="signupForm"
  ></app-input>
  <app-button
    [type]="buttonType"
    [text]="buttonText"
    [disabled]="isDisabled | async"
  ></app-button>
</form>
