<div class="character-list-detail">
  <p class="character-list-detail__item">
    Name:
    <span class="character-list-detail__name">{{ name }}</span>
  </p>
  <p class="character-list-detail__item">
    Background:
    <span class="character-list-detail__background">{{ background }}</span>
  </p>
  <p class="character-list-detail__item">
    Class:
    <span class="character-list-detail__class">{{ classType }}</span>
  </p>
  <p class="character-list-detail__item">
    Race:
    <span class="character-list-detail__race">{{ raceType }}</span>
  </p>
  <p class="character-list-detail__item">
    Last Updated:
    <span class="character-list-detail__last-updated">{{
      lastUpdated | date: "dd/MM/yy, h:mm a"
    }}</span>
  </p>
  <a class="character-list-detail__link" routerLink="/builder/{{ id }}">View</a>
</div>
