.character-list-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  padding: 0.8rem;
  border: 1px solid darkgoldenrod;

  &__name {
    color: seagreen;
  }

  &__background {
    color: slateblue;
  }

  &__class {
    color: mediumvioletred;
  }

  &__race {
    color: olivedrab;
  }

  &__link {
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    text-decoration: none;
    padding: 0.8rem 1.4rem;

    &:hover {
      background-color: lightgoldenrodyellow;
    }
  }
}
