<div
  [formGroup]="group"
  class="select-container"
  [ngClass]="{ 'input-error': control.errors && control.touched }"
>
  <label for="{{ name }}" class="select-label">{{ name }}: </label>

  <div class="select-control" (click)="displayOptions()">
    {{ currentSelection && currentSelection.label }}
  </div>

  <ng-template [ngIf]="isOpen">
    <ul class="select-control__list">
      <li
        *ngFor="let option of options"
        class="select-control__list-item"
        [ngClass]="{ active: currentSelection.label === option.label }"
        (click)="selectedOption(option)"
      >
        {{ option.label }}
      </li>
    </ul>
  </ng-template>

  <input
    #selectOption
    type="hidden"
    name="{{ name }}"
    value="currentSelection.value"
    [formControlName]="controlName"
    [attr.disabled]="disabled"
    [attr.required]="required"
    appControlErrors
  />
</div>
