.select {
  &-container {
    display: flex;
    flex-wrap: wrap;
  }

  &-control {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__trigger {
      padding: 0.4rem;
      border: 1px solid lightgray;
      border-bottom: 2px solid darkgoldenrod;
      cursor: pointer;
    }

    &__list {
      margin-bottom: 0;
      max-height: 130px;
      overflow-x: scroll;
      border: 1px solid rgb(31, 28, 28);
    }

    &__list-item {
      padding: 1rem;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }

      &.active {
        background-color: lightskyblue;
      }
    }
  }

  &-label {
    display: inline-block;
    margin: 0.4rem 0;
  }

  &-error {
    color: red;
  }
}
