<div
  [formGroup]="group"
  class="select-container"
  [ngClass]="{ 'input-error': control.errors && control.touched }"
>
  <label for="{{ name }}" class="select-label">{{ name }}: </label>

  <div #selectControl class="select-control">
    <div class="select-control__trigger" (click)="displayOptions()">
      {{ currentSelection && currentSelection.label }}
    </div>

    <ng-template [ngIf]="isOpen">
      <ul class="select-control__list">
        <li
          *ngFor="let option of options"
          class="select-control__list-item"
          [ngClass]="{ active: currentSelection.label === option.label }"
          (click)="selectedOption(option)"
        >
          {{ option.label }}
        </li>
      </ul>
    </ng-template>
  </div>

  <input
    #selectOption
    type="hidden"
    name="{{ name }}"
    value="currentSelection.value"
    [formControlName]="controlName"
    [attr.disabled]="disabled"
    [attr.required]="required"
    appControlErrors
  />
</div>
