<div class="character-information-terminal">
  <div
    *ngFor="let option of characterInfoOptions"
    class="character-information-terminal__item"
    [ngClass]="{ active: selection === option.title.toLocaleLowerCase() }"
    (click)="updateSelection(option.title)"
  >
    <span class="character-information-terminal__selection">{{
      option.title
    }}</span>
  </div>

  <div class="character-information-terminal__terminal" [ngSwitch]="selection">
    <div *ngSwitchCase="'abilities'">
      <h2>Abilities:</h2>
      <app-character-abilities-form
        *ngIf="!abilities"
      ></app-character-abilities-form>
    </div>
    <div *ngSwitchCase="'equipment'">
      <h2>Equipment:</h2>
      <app-character-equipment-form
        *ngIf="!equipment"
      ></app-character-equipment-form>
    </div>
    <div *ngSwitchCase="'traits'">
      <h2>Traits:</h2>
      <app-character-traits-form *ngIf="!traits"></app-character-traits-form>
    </div>
  </div>
</div>
