<div class="character-information-terminal">
  <div class="character-information-terminal__grid">
    <div
      *ngFor="let option of characterInfoOptions"
      class="character-information-terminal__items"
      [ngClass]="{ active: selection === option.title.toLocaleLowerCase() }"
      (click)="updateSelection(option.title)"
    >
      <span class="character-information-terminal__selection">{{
        option.title
      }}</span>
    </div>
  </div>

  <div class="character-information-terminal__window" [ngSwitch]="selection">
    <div *ngSwitchCase="'abilities'">
      <h2>Abilities:</h2>
      <app-character-abilities-form
        *ngIf="!abilities"
        (characterAbilitiesFormSubmitted)="submitAbilities($event)"
      ></app-character-abilities-form>

      <app-character-abilities
        *ngIf="abilities"
        [strength]="abilities.strength"
        [dexterity]="abilities.dexterity"
        [constitution]="abilities.constitution"
        [intelligence]="abilities.intelligence"
        [wisdom]="abilities.wisdom"
        [charisma]="abilities.charisma"
        [isEditing]="isEditingAbilities"
        (editAbilitiesData)="startEditAbilities()"
      >
      </app-character-abilities>

      <app-character-abilities-form
        *ngIf="abilities && isEditingAbilities"
        [strength]="abilities.strength"
        [dexterity]="abilities.dexterity"
        [constitution]="abilities.constitution"
        [intelligence]="abilities.intelligence"
        [wisdom]="abilities.wisdom"
        [charisma]="abilities.charisma"
        [isEditing]="isEditingAbilities"
        (characterAbilitiesFormEditted)="editAbilities($event)"
      ></app-character-abilities-form>
    </div>
    <div
      *ngSwitchCase="'equipment'"
      class="character-information-terminal__window"
    >
      <h2>Equipment:</h2>
      <app-character-equipment-form
        *ngIf="!equipment"
        (characterEquipmentFormSubmitted)="submitEquipment($event)"
      ></app-character-equipment-form>
      <app-character-equipment
        *ngIf="equipment"
        [armorClass]="equipment.armor_class"
        [weaponProficiencies]="equipment.weapon_proficiencies"
        [wealth]="equipment.wealth"
        [isEditing]="isEditingEquipment"
        (editEquipmentData)="startEditEquipment()"
      >
      </app-character-equipment>
    </div>
    <div *ngSwitchCase="'traits'">
      <h2>Traits:</h2>
      <app-character-traits-form
        *ngIf="!traits"
        (characterTraitsFormSubmitted)="submitTraits($event)"
      ></app-character-traits-form>
      <app-character-traits
        *ngIf="traits"
        [abilityScoreIncrease]="traits.ability_score_increase"
        [age]="traits.age"
        [alignment]="traits.alignment"
        [morality]="traits.morality"
        [size]="traits.size"
        [speed]="traits.speed"
        [languages]="traits.languages"
        [isEditing]="isEditingTraits"
        (editTraitsData)="startEditTraits()"
      >
      </app-character-traits>
    </div>
  </div>
</div>
