<div class="additional-character-information">
  <h1>{{ (character$ | async)?.name }}</h1>

  <p>
    <span class="pill">{{ (character$ | async)?.background }}</span>
    <span class="pill">{{ (character$ | async)?.raceType }}</span>
    <span class="pill">{{ (character$ | async)?.classType }}</span>
  </p>

  <app-character-information-terminal
    [characterId]="(character$ | async)?.id"
    [abilities]="abilities$ | async"
    [equipment]="equipment$ | async"
    [traits]="traits$ | async"
    (submitAbilitiesData)="submitCharacterAbilities($event)"
    (submitEquipmentData)="submitCharacterEquipment($event)"
    (submitTraitsData)="submitCharacterTraits($event)"
  ></app-character-information-terminal>
</div>
