<div class="additional-character-information">
  <h1 class="additional-character-information__characterName">
    {{ (character$ | async)?.name }}
    <app-button
      class="additional-character-information__deleteButton"
      [type]="'button'"
      [text]="'Delete'"
      (click)="deleteCharacter()"
    ></app-button>
  </h1>

  <p>
    <span class="pill">{{ (character$ | async)?.background }}</span>
    <span class="pill">{{ (character$ | async)?.raceType }}</span>
    <span class="pill">{{ (character$ | async)?.classType }}</span>
  </p>

  <app-character-information-terminal
    [characterId]="(character$ | async)?.id"
    (editAbilitiesData)="editCharacterAbilities($event)"
    (editEquipmentData)="editCharacterEquipment($event)"
    (editTraitsData)="editCharacterTraits($event)"
    (submitAbilitiesData)="submitCharacterAbilities($event)"
    (submitEquipmentData)="submitCharacterEquipment($event)"
    (submitTraitsData)="submitCharacterTraits($event)"
  ></app-character-information-terminal>
</div>
