<form novalidate [formGroup]="characterAbilitiesForm" (submit)="create($event)">
  <app-input
    [name]="'Strength'"
    [type]="'number'"
    [controlName]="'strength'"
    [group]="characterAbilitiesForm"
  ></app-input>
  <app-input
    [name]="'Dexterity'"
    [type]="'number'"
    [controlName]="'dexterity'"
    [group]="characterAbilitiesForm"
  ></app-input>
  <app-input
    [name]="'Constitution'"
    [type]="'number'"
    [controlName]="'constitution'"
    [group]="characterAbilitiesForm"
  ></app-input>
  <app-input
    [name]="'Intelligence'"
    [type]="'number'"
    [controlName]="'intelligence'"
    [group]="characterAbilitiesForm"
  ></app-input>
  <app-input
    [name]="'Wisdom'"
    [type]="'number'"
    [controlName]="'wisdom'"
    [group]="characterAbilitiesForm"
  ></app-input>
  <app-input
    [name]="'Charisma'"
    [type]="'number'"
    [controlName]="'charisma'"
    [group]="characterAbilitiesForm"
  ></app-input>

  <app-button
    [type]="buttonType"
    [text]="buttonText"
    [disabled]="isDisabled | async"
  ></app-button>
</form>
