<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation-item">
      <a class="navigation-link" routerLink="/" routerLinkActive="active"
        >Home</a
      >
      <a class="navigation-link" routerLink="/builder" routerLinkActive="active"
        >Builder</a
      >
    </li>

    <li class="navigation-item">
      <a
        class="navigation-link"
        routerLink="/auth/signup"
        routerLinkActive="active"
        >Signup</a
      >
      <a
        class="navigation-link"
        routerLink="/auth/login"
        routerLinkActive="active"
        >Login</a
      >
    </li>
  </ul>
</nav>
