.navigation {
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  &__item {
    padding: 0.2rem 0.8rem;
  }

  &__link {
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    &:visited,
    &:link {
      color: darkgoldenrod;
    }

    &.active {
      color: royalblue;
    }
  }

  &__btn {
    display: inline-block;
    margin-left: 1rem;
  }
}
